// Colors

$color-primary: #24b3a7;
$color-primary-light: #2ee6d7;
$color-primary-dark: #336662;
$color-secondary: #9845e6;
$color-secondary-dark: #8c47cc;
$color-complementary: #e69417;
$color-neutral-light: white;
$color-neutral-dark: black;
