@use './global';

.button {
  background-color: global.$color-secondary-dark;
  border: none;
  border-radius: 10px;
  color: global.$color-neutral-light;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  transition: background-color 250ms, box-shadow 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:before {
    background: global.$color-neutral-light;
    content: '';
    height: 150px;
    left: -50px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(30deg);
    transition: left 500ms ease;
    width: 30px;
  }
}

.button:hover {
  background-color: global.$color-secondary;
  box-shadow: rgba(global.$color-neutral-dark, 0.15) 0px 10px 20px,
    rgba(global.$color-neutral-dark, 0.2) 0px 8px 8px;

  &:before {
    left: 120%;
  }
}

.button--rounded {
  border-radius: 100px;
}

.button--white {
  background-color: global.$color-neutral-light;
  color: global.$color-secondary-dark;

  &:before {
    background: global.$color-secondary;
    opacity: 0.1;
  }
}

.button--white:hover {
  background-color: global.$color-neutral-light;
  color: global.$color-secondary;
}
